/* html {
  border-radius: 0%;
} */

body {
  font-family: 'Nunito', sans-serif;
  width: 450px;
}

.small_logo {
  width: 8%;
  height: auto;
}

.top_bar {
  display: flex;
  align-items: center;
}

.title {
    font-size: 14px;
    color: #87986A;
    font-weight: bolder;
    padding: 8px;
    vertical-align: -webkit-baseline-middle;
}

.welcome {
  font-size: 18px;
  color: #5B6254;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.divider {
  background-color: #EEEDEE;
  width: 100%;
  height: 7px;
}

.message {
  font-size: 16px;
  color: #5B6254;
  font-weight: bold;
  text-align: center;
  padding: 25px;
}

.bottom_navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(20px, auto);

  background-color: #EEEDEE;
  width: auto;
  height: 75px;
}

button {
  border: #EEEDEE;
}

.nav_button {
  width: 30%;
  height: auto;
  cursor: pointer;
}

.nav_button:hover {
 opacity: 0.4;
}

#adding_button_pic img {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
