.item-description { 
    padding: 5px; 
    width: 200px; 
    margin-bottom: 10px; ;
}

.item-completed:checked + .item-description { 
    background: #dddddd; 
    text-decoration: line-through; 
}

#add { 
    font-family: 'Nunito', sans-serif;
    padding: 8px 14px; 
    font-weight: bold; 
    color: #ffffff;
    background: #5B6254
    ; 
    cursor: pointer; 
}

#remove { 
    font-family: 'Nunito', sans-serif;
    padding: 8px 14px; 
    font-weight: bold; 
    color: #ffffff;
    background: #5B6254; 
    cursor: pointer; 
}

.randobox { 
    text-align: center; 
    color: #5B6254;
    background-color: #D7DBD0;
    width: 300px;
    height: 100px;
    padding: 55px;
    margin: 20px;
    border-radius: 10px;
  }

.rating_box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}

.rating_leaf {
    width: 80%;
    height: auto;
}
